In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json("Data/Yelp JSON/yelp_academic_dataset_business.json", lines=True)

bad_states = set(["AB", "HI", "UT", "SD", "XMS", "VI"]) # states either not in US, or manually checked the 1-2 businesses to be wrong
df = df[["business_id", "city", "state", "stars", "review_count"]]
df = df[~df["state"].isin(bad_states)]

df.head(3)

              business_id           city state  stars  review_count
0  Pns2l4eNsfO8kk83dixA6A  Santa Barbara    CA    5.0             7
1  mpf3x-BjTdTEA3yCZrAYPw         Affton    MO    3.0            15
2  tUFrWirKiKi_TAnsVWINQQ         Tucson    AZ    3.5            22

In [3]:
import re

regex_rules = [
    (re.compile(r'\bst\.?\b'), "saint"),      # st. to saint
    (re.compile(r'\bmt\.?\b'), "mount"),      # mt. to mount
    (re.compile(r'[^a-z ]'), ''),             # remove all except letters, space
    (re.compile(r' {2,}'), ' ')               # combine multiple spaces into 1
]
def clean_city_name(city: str) -> str:
    city = city.strip().lower()
    for pattern, replacement in regex_rules:
        city = pattern.sub(replacement, city)
    return city.replace(" ","") # wanted to replace with _, but didnt work in places csv???

In [4]:
df["city"] = df["city"].apply(clean_city_name)
df["tup"] = df[["city", "state"]].apply(tuple, axis=1)
df.head()

,business_id,city,state,stars,review_count,tup
0,Pns2l4eNsfO8kk83dixA6A,santabarbara,CA,5.0,7,"(santabarbara, CA)"
1,mpf3x-BjTdTEA3yCZrAYPw,affton,MO,3.0,15,"(affton, MO)"
2,tUFrWirKiKi_TAnsVWINQQ,tucson,AZ,3.5,22,"(tucson, AZ)"
3,MTSW4McQd7CbVtyjqoe9mw,philadelphia,PA,4.0,80,"(philadelphia, PA)"
4,mWMc6_wTdE0EUBKIGXDVfA,greenlane,PA,4.5,13,"(greenlane, PA)"

In [5]:
place_df = pd.read_csv("./Data/places.csv")
place_df.head()

             City State  StateCode  PlaceCode
0          tucson    AZ          4      77000
1    philadelphia    PA         42      60000
2  universitycity    MO         29      75220
3         lebanon    TN         47      41520
4           tampa    FL         12       8150

In [ ]:
# StateCode should be left zero padded to length 2, PlaceCode should be left zero padded to length 5 for Census API
def formatStateCode(code: int | str) -> str:
    code = str(code)
    return code.zfill(2)
def formatPlaceCode(placeCode: int | str)->str:
    placeCode = str(placeCode)
    return placeCode.zfill(5)

place_df["StateCode"] = place_df["StateCode"].apply(formatStateCode)
place_df["PlaceCode"] = place_df["PlaceCode"].apply(formatPlaceCode)

In [6]:
clean_df = place_df.drop_duplicates().copy()
clean_df.to_csv("places_clean.csv")

In [7]:
clean_df["tup"] = clean_df[["City", "State"]].apply(tuple, axis=1)
clean_df.head()

             City State  StateCode  PlaceCode                   tup
0          tucson    AZ          4      77000          (tucson, AZ)
1    philadelphia    PA         42      60000    (philadelphia, PA)
2  universitycity    MO         29      75220  (universitycity, MO)
3         lebanon    TN         47      41520         (lebanon, TN)
4           tampa    FL         12       8150           (tampa, FL)

In [17]:
place_loc_set = set(clean_df["tup"])

missing_locs = df.loc[~df["tup"].isin(place_loc_set), "tup"]#.unique()

In [12]:
print(f"{missing_locs.shape[0]} Missing Locations")
print(missing_locs)

371 Missing Locations
[('greenlane', 'PA') ('fernley', 'NV') ('warrington', 'PA')
 ('terraceia', 'FL') ('delawarecounty', 'PA') ('valleyforge', 'PA')
 ('mapleshade', 'NJ') ('cedarbrook', 'NJ') ('perkiomenville', 'PA')
 ('view', 'TN') ('buckingham', 'PA') ('riverside', 'NJ') ('delran', 'NJ')
 ('limerick', 'PA') ('cinnaminson', 'NJ') ('fountainville', 'PA')
 ('huntingdonvalleypa', 'PA') ('washingtoncrossing', 'PA')
 ('linelexington', 'PA') ('newtownsquare', 'PA') ('earthcity', 'MO')
 ('lumberton', 'NJ') ('lahaska', 'PA') ('woolwichtwp', 'NJ')
 ('washingtontownship', 'NJ') ('mountholly', 'NJ')
 ('deptfordtownship', 'NJ') ('willingborotownship', 'NJ')
 ('columbus', 'NJ') ('hainesport', 'NJ') ('mendenhall', 'PA')
 ('dresher', 'PA') ('douglassville', 'PA') ('mapleshadetownship', 'NJ')
 ('secane', 'PA') ('lafayettehill', 'PA') ('elverson', 'PA')
 ('willingboro', 'NJ') ('woolwichtownship', 'NJ') ('hilltown', 'PA')
 ('westampton', 'NJ') ('shamong', 'NJ') ('mountroyal', 'NJ')
 ('jamison', 'PA') ('primossecane', 'PA') ('jobstown', 'NJ')
 ('flanders', 'NJ') ('wallingford', 'PA') ('eastlake', 'FL')
 ('tabernacle', 'NJ') ('vineland', 'NJ') ('lester', 'PA')
 ('mansfield', 'NJ') ('southcinnaminson', 'NJ') ('edmundson', 'MO')
 ('waterfordworks', 'NJ') ('tuson', 'AZ') ('lawrenceville', 'NJ')
 ('glennmills', 'PA') ('bear', 'DE') ('newfield', 'NJ') ('meterie', 'LA')
 ('berlintownship', 'NJ') ('newprtrchy', 'FL') ('churchville', 'PA')
 ('boone', 'NC') ('mercerville', 'NJ') ('vail', 'CO')
 ('abingtontownship', 'PA') ('star', 'ID') ('ventura', 'CA')
 ('pittsgrovetownship', 'NJ') ('talleyville', 'DE') ('westnorriton', 'PA')
 ('meadowbrook', 'PA') ('westtown', 'PA') ('westamptontownship', 'NJ')
 ('jeffersonville', 'PA') ('edgewaterpark', 'NJ') ('balm', 'FL')
 ('royford', 'PA') ('delanco', 'NJ') ('upperdarbypa', 'PA')
 ('lederach', 'PA') ('towncounty', 'MO') ('dumont', 'CO')
 ('trainer', 'PA') ('southeastern', 'PA') ('pennington', 'NJ')
 ('uppersouthamptontownship', 'PA') ('concordville', 'PA')
 ('greenfield', 'IN') ('montgomery', 'PA') ('newjersey', 'NJ')
 ('eastnorristown', 'PA') ('clarksboro', 'NJ') ('tinicum', 'PA')
 ('jeffersonparish', 'LA') ('eastampton', 'NJ') ('upperpittsgrove', 'NJ')
 ('chesterfield', 'NJ') ('wchester', 'PA') ('pinecrestwestpark', 'FL')
 ('plymouthtownship', 'PA') ('washoevalley', 'NV')
 ('pennsaukentownship', 'NJ') ('almonesson', 'NJ') ('birchrunville', 'PA')
 ('newptrichey', 'FL') ('porthueneme', 'CA') ('renoap', 'NV')
 ('lawrencetownship', 'NJ') ('mehville', 'MO') ('pittsgrove', 'NJ')
 ('mandeville', 'LA') ('sainttpetersburg', 'FL') ('bellville', 'IL')
 ('worcester', 'PA') ('ashland', 'TN') ('holicong', 'PA')
 ('winslow', 'NJ') ('gwyneddvalley', 'PA') ('philadelphiapa', 'PA')
 ('ridley', 'PA') ('uppergwynedd', 'PA') ('hartsville', 'PA')
 ('pilesgrove', 'NJ') ('westhill', 'CA') ('lawrence', 'NJ')
 ('oldmans', 'NJ') ('bridgeport', 'NJ') ('newtowntownship', 'PA')
 ('santaynez', 'CA') ('casaadobes', 'AZ') ('christiana', 'DE')
 ('melrosepark', 'PA') ('bordentowntownship', 'NJ')
 ('southamptontownship', 'NJ') ('wyndlakecondominium', 'FL')
 ('bensalemtownship', 'PA') ('ridleytownship', 'PA')
 ('lowerprovidence', 'PA') ('easttampa', 'FL') ('mountjuliet', 'TX')
 ('sparks', 'CA') ('zieglerville', 'PA') ('kingsbeach', 'CA')
 ('bradenton', 'FL') ('pennsaulen', 'NJ') ('missioncanyon', 'CA')
 ('arrington', 'TN') ('franconia', 'PA') ('mountlaureltwpnj', 'NJ')
 ('philadelphila', 'PA') ('gladwyne', 'PA') ('westmountholly', 'NJ')
 ('horseshoebend', 'ID') ('hilltop', 'NJ') ('smyrna', 'DE')
 ('gradyville', 'PA') ('elktownship', 'NJ') ('bethel', 'PA')
 ('glenoldan', 'PA') ('edgmont', 'PA') ('renonevada', 'NV')
 ('concordtownship', 'PA') ('mapleshadenj', 'NJ') ('parkerford', 'PA')
 ('hadtwp', 'NJ') ('westmonthaddontowsship', 'NJ') ('westfield', 'IN')
 ('yorklyn', 'DE') ('rushland', 'PA') ('westtrenton', 'NJ')
 ('denver', 'CO') ('crosswicks', 'NJ') ('wrightstown', 'PA')
 ('springhill', 'TN') ('carversville', 'PA') ('cornwellsheights', 'PA')
 ('oakford', 'PA') ('tampa', 'CA') ('bristoltwp', 'PA')
 ('pilgrimgardens', 'PA') ('trolleysquare', 'DE') ('northmarlton', 'NJ')
 ('pineville', 'PA') ('betheltownship', 'PA') ('andalusia', 'PA')
 ('bellemeade', 'TN') ('westpoint', 'PA') ('nashvilleap', 'TN')
 ('zieglersville', 'PA') ('washingtontwp', 'NJ') ('woodbourne', 'PA')
 ('earlington', 'PA') ('ruralhill', 'TN') ('warwick', 'PA')
 ('strafford', 'PA') ('quinton', 'NJ') ('cerritos', 'CA')
 ('claerwater', 'FL') ('eastamptontownship', 'NJ')
 ('mechanicsville', 'PA') ('roseville', 'MI') ('feastville', 'PA')
 ('oldmanstownship', 'NJ') ('saintpeters', 'PA') ('freehold', 'NJ')
 ('gentilly', 'LA') ('hamiltion', 'NJ') ('gwynedd', 'PA')
 ('chestertownship', 'PA') ('fortville', 'IN') ('gardenville', 'PA')
 ('pleasanttownship', 'IN') ('thornton', 'PA') ('gulphmills', 'PA')
 ('buckscounty', 'PA') ('danboro', 'PA') ('forestgrove', 'PA')
 ('drexelhil', 'PA') ('hancock', 'IN') ('mountairy', 'PA')
 ('stroudsburg', 'PA') ('monroeville', 'NJ') ('crystalbeach', 'FL')
 ('mississauga', 'LA') ('brentwoodcoolsprings', 'TN') ('kop', 'PA')
 ('sassamansville', 'PA') ('uppermeriontownship', 'PA') ('washoe', 'NV')
 ('norritown', 'PA') ('linfield', 'PA') ('peerlesspark', 'MO')
 ('bradentonbeach', 'FL') ('pottsgrove', 'PA')
 ('warringtontownship', 'PA') ('nredingtonbch', 'FL') ('roxana', 'IL')
 ('drexelheights', 'AZ') ('valencia', 'CA') ('neworlaens', 'LA')
 ('enorristown', 'PA') ('richwood', 'NJ') ('chicago', 'FL')
 ('mountlaurel', 'NV') ('shade', 'NJ') ('cedars', 'PA')
 ('deptfordtwp', 'NJ') ('montchanin', 'DE') ('solebury', 'PA')
 ('belleairblufs', 'FL') ('realgoleta', 'CA') ('centersquare', 'PA')
 ('middlecitywest', 'PA') ('bucktown', 'LA') ('newtonsquare', 'PA')
 ('dunnellon', 'FL') ('westchesterpa', 'PA') ('chalemette', 'LA')
 ('tylersport', 'PA') ('evshmtwp', 'NJ') ('mccarran', 'NV')
 ('delrantwp', 'NJ') ('lenni', 'PA') ('edgemoor', 'DE') ('glenmore', 'PA')
 ('feastervilletrev', 'PA') ('penllyn', 'PA') ('uppersouthampton', 'PA')
 ('sumneytown', 'PA') ('pennsylvania', 'PA') ('glenmills', 'DE')
 ('bridgeton', 'NJ') ('northmapleshade', 'NJ') ('honeybrook', 'PA')
 ('edgemont', 'PA') ('springfield', 'NJ') ('southharrisontownship', 'NJ')
 ('arden', 'DE') ('westbradfordtownship', 'PA') ('santabarbaraap', 'CA')
 ('stead', 'NV') ('southtampa', 'FL') ('buckinghamtownship', 'PA')
 ('fieldsboro', 'NJ') ('festerville', 'PA') ('falls', 'PA')
 ('havertownpa', 'PA') ('hopewelltownship', 'NJ') ('southhampton', 'PA')
 ('delaware', 'PA') ('zionsvillein', 'IN') ('northcoventrytownship', 'PA')
 ('centreville', 'DE') ('pineforge', 'PA') ('newportville', 'PA')
 ('newbritian', 'PA') ('lowersouthamptontownship', 'PA')
 ('huntingtonvalley', 'PA') ('bensalempa', 'PA') ('media', 'DE')
 ('southburlington', 'NJ') ('newtownsqaure', 'PA') ('bellefontaine', 'MO')
 ('westhampton', 'NJ') ('chichester', 'PA') ('wberlin', 'NJ')
 ('tinicumtownship', 'PA') ('fairland', 'IN') ('winterthur', 'DE')
 ('oldhickorytn', 'TN') ('ewingtwp', 'NJ') ('indiana', 'IN')
 ('gloucester', 'NJ') ('wilimington', 'DE') ('boutte', 'LA')
 ('madierabeach', 'FL') ('washington', 'NJ') ('lincoln', 'IL')
 ('philly', 'PA') ('southmadison', 'TN') ('stanton', 'DE')
 ('landsale', 'PA') ('fosterpond', 'IL') ('newtownsq', 'PA')
 ('costamesa', 'CA') ('frederick', 'PA') ('wycombe', 'PA')
 ('wilmington', 'PA') ('westcollingswoodheights', 'NJ') ('tampafl', 'FL')
 ('barto', 'PA') ('nwales', 'PA') ('creamery', 'PA') ('saintboise', 'ID')
 ('sullivan', 'MO') ('glendale', 'NJ') ('westrockhill', 'PA')
 ('haverton', 'PA') ('londongrove', 'PA') ('inpolis', 'IN')
 ('clarksville', 'TN') ('delrantownship', 'NJ') ('hurffville', 'NJ')
 ('kirklyn', 'PA') ('clearwatercountryside', 'FL')
 ('southcherryhill', 'NJ') ('williamsport', 'PA') ('caln', 'PA')
 ('safetyhatbor', 'FL') ('westnashville', 'TN') ('hollywood', 'PA')
 ('hernandobch', 'FL') ('chattanooga', 'TN') ('rancocas', 'NJ')
 ('middletown', 'PA') ('philiadelphia', 'PA') ('newton', 'PA')
 ('claymont', 'PA') ('lowersouthampton', 'PA') ('monchanin', 'DE')
 ('plymouthmtng', 'PA') ('monroe', 'NJ') ('charlotte', 'PA')
 ('keylargo', 'FL') ('woodburyhts', 'NJ') ('uppermoreland', 'PA')
 ('aston', 'DE')]

In [19]:
from collections import Counter
missing_counts = dict(Counter(missing_locs).most_common())

In [20]:
missing_counts

{('warrington', 'PA'): 203,
 ('newtownsquare', 'PA'): 177,
 ('mapleshade', 'NJ'): 148,
 ('cinnaminson', 'NJ'): 120,
 ('mountholly', 'NJ'): 120,
 ('delran', 'NJ'): 102,
 ('limerick', 'PA'): 78,
 ('willingboro', 'NJ'): 63,
 ('lumberton', 'NJ'): 62,
 ('lafayettehill', 'PA'): 58,
 ('hainesport', 'NJ'): 52,
 ('lahaska', 'PA'): 50,
 ('dresher', 'PA'): 49,
 ('jamison', 'PA'): 38,
 ('westampton', 'NJ'): 36,
 ('deptfordtownship', 'NJ'): 35,
 ('pennsaukentownship', 'NJ'): 33,
 ('columbus', 'NJ'): 32,
 ('buckingham', 'PA'): 28,
 ('riverside', 'NJ'): 22,
 ('washingtoncrossing', 'PA'): 22,
 ('earthcity', 'MO'): 22,
 ('mapleshadetownship', 'NJ'): 21,
 ('washingtontownship', 'NJ'): 18,
 ('christiana', 'DE'): 18,
 ('secane', 'PA'): 17,
 ('tabernacle', 'NJ'): 15,
 ('pilesgrove', 'NJ'): 14,
 ('perkiomenville', 'PA'): 13,
 ('shamong', 'NJ'): 13,
 ('wallingford', 'PA'): 13,
 ('greenfield', 'IN'): 12,
 ('lawrenceville', 'NJ'): 11,
 ('edgewaterpark', 'NJ'): 11,
 ('clarksboro', 'NJ'): 11,
 ('greenlane', 'PA'): 10,
 ('gladwyne', 'PA'): 10,
 ('woolwichtownship', 'NJ'): 9,
 ('pennington', 'NJ'): 9,
 ('eastampton', 'NJ'): 9,
 ('waterfordworks', 'NJ'): 8,
 ('talleyville', 'DE'): 8,
 ('jeffersonville', 'PA'): 8,
 ('lawrencetownship', 'NJ'): 8,
 ('worcester', 'PA'): 8,
 ('monroeville', 'NJ'): 8,
 ('cedars', 'PA'): 7,
 ('fountainville', 'PA'): 6,
 ('linelexington', 'PA'): 6,
 ('lester', 'PA'): 6,
 ('newfield', 'NJ'): 6,
 ('churchville', 'PA'): 6,
 ('holicong', 'PA'): 6,
 ('zieglerville', 'PA'): 6,
 ('cedarbrook', 'NJ'): 5,
 ('mansfield', 'NJ'): 5,
 ('bear', 'DE'): 5,
 ('berlintownship', 'NJ'): 5,
 ('delanco', 'NJ'): 5,
 ('concordville', 'PA'): 5,
 ('bensalemtownship', 'PA'): 5,
 ('westtrenton', 'NJ'): 5,
 ('bellemeade', 'TN'): 5,
 ('valleyforge', 'PA'): 4,
 ('mendenhall', 'PA'): 4,
 ('elverson', 'PA'): 4,
 ('hilltown', 'PA'): 4,
 ('westnorriton', 'PA'): 4,
 ('meadowbrook', 'PA'): 4,
 ('lederach', 'PA'): 4,
 ('washoevalley', 'NV'): 4,
 ('pittsgrove', 'NJ'): 4,
 ('southamptontownship', 'NJ'): 4,
 ('wrightstown', 'PA'): 4,
 ('westpoint', 'PA'): 4,
 ('strafford', 'PA'): 4,
 ('eastamptontownship', 'NJ'): 4,
 ('thornton', 'PA'): 4,
 ('linfield', 'PA'): 4,
 ('willingborotownship', 'NJ'): 3,
 ('jobstown', 'NJ'): 3,
 ('abingtontownship', 'PA'): 3,
 ('trainer', 'PA'): 3,
 ('chesterfield', 'NJ'): 3,
 ('winslow', 'NJ'): 3,
 ('melrosepark', 'PA'): 3,
 ('parkerford', 'PA'): 3,
 ('pineville', 'PA'): 3,
 ('andalusia', 'PA'): 3,
 ('earlington', 'PA'): 3,
 ('saintpeters', 'PA'): 3,
 ('warringtontownship', 'PA'): 3,
 ('montchanin', 'DE'): 3,
 ('sumneytown', 'PA'): 3,
 ('tinicumtownship', 'PA'): 3,
 ('terraceia', 'FL'): 2,
 ('woolwichtwp', 'NJ'): 2,
 ('mountroyal', 'NJ'): 2,
 ('newprtrchy', 'FL'): 2,
 ('mercerville', 'NJ'): 2,
 ('westtown', 'PA'): 2,
 ('balm', 'FL'): 2,
 ('southeastern', 'PA'): 2,
 ('montgomery', 'PA'): 2,
 ('upperpittsgrove', 'NJ'): 2,
 ('birchrunville', 'PA'): 2,
 ('philadelphiapa', 'PA'): 2,
 ('ridley', 'PA'): 2,
 ('lawrence', 'NJ'): 2,
 ('oldmans', 'NJ'): 2,
 ('bridgeport', 'NJ'): 2,
 ('bradenton', 'FL'): 2,
 ('arrington', 'TN'): 2,
 ('franconia', 'PA'): 2,
 ('gradyville', 'PA'): 2,
 ('edgmont', 'PA'): 2,
 ('yorklyn', 'DE'): 2,
 ('carversville', 'PA'): 2,
 ('cornwellsheights', 'PA'): 2,
 ('bristoltwp', 'PA'): 2,
 ('zieglersville', 'PA'): 2,
 ('mechanicsville', 'PA'): 2,
 ('oldmanstownship', 'NJ'): 2,
 ('gwynedd', 'PA'): 2,
 ('buckscounty', 'PA'): 2,
 ('sassamansville', 'PA'): 2,
 ('pottsgrove', 'PA'): 2,
 ('richwood', 'NJ'): 2,
 ('lenni', 'PA'): 2,
 ('uppersouthampton', 'PA'): 2,
 ('pennsylvania', 'PA'): 2,
 ('stead', 'NV'): 2,
 ('southtampa', 'FL'): 2,
 ('hopewelltownship', 'NJ'): 2,
 ('lowersouthamptontownship', 'PA'): 2,
 ('chichester', 'PA'): 2,
 ('newtownsq', 'PA'): 2,
 ('fernley', 'NV'): 1,
 ('delawarecounty', 'PA'): 1,
 ('view', 'TN'): 1,
 ('huntingdonvalleypa', 'PA'): 1,
 ('douglassville', 'PA'): 1,
 ('primossecane', 'PA'): 1,
 ('flanders', 'NJ'): 1,
 ('eastlake', 'FL'): 1,
 ('vineland', 'NJ'): 1,
 ('southcinnaminson', 'NJ'): 1,
 ('edmundson', 'MO'): 1,
 ('tuson', 'AZ'): 1,
 ('glennmills', 'PA'): 1,
 ('meterie', 'LA'): 1,
 ('boone', 'NC'): 1,
 ('vail', 'CO'): 1,
 ('star', 'ID'): 1,
 ('ventura', 'CA'): 1,
 ('pittsgrovetownship', 'NJ'): 1,
 ('westamptontownship', 'NJ'): 1,
 ('royford', 'PA'): 1,
 ('upperdarbypa', 'PA'): 1,
 ('towncounty', 'MO'): 1,
 ('dumont', 'CO'): 1,
 ('uppersouthamptontownship', 'PA'): 1,
 ('newjersey', 'NJ'): 1,
 ('eastnorristown', 'PA'): 1,
 ('tinicum', 'PA'): 1,
 ('jeffersonparish', 'LA'): 1,
 ('wchester', 'PA'): 1,
 ('pinecrestwestpark', 'FL'): 1,
 ('plymouthtownship', 'PA'): 1,
 ('almonesson', 'NJ'): 1,
 ('newptrichey', 'FL'): 1,
 ('porthueneme', 'CA'): 1,
 ('renoap', 'NV'): 1,
 ('mehville', 'MO'): 1,
 ('mandeville', 'LA'): 1,
 ('sainttpetersburg', 'FL'): 1,
 ('bellville', 'IL'): 1,
 ('ashland', 'TN'): 1,
 ('gwyneddvalley', 'PA'): 1,
 ('uppergwynedd', 'PA'): 1,
 ('hartsville', 'PA'): 1,
 ('westhill', 'CA'): 1,
 ('newtowntownship', 'PA'): 1,
 ('santaynez', 'CA'): 1,
 ('casaadobes', 'AZ'): 1,
 ('bordentowntownship', 'NJ'): 1,
 ('wyndlakecondominium', 'FL'): 1,
 ('ridleytownship', 'PA'): 1,
 ('lowerprovidence', 'PA'): 1,
 ('easttampa', 'FL'): 1,
 ('mountjuliet', 'TX'): 1,
 ('sparks', 'CA'): 1,
 ('kingsbeach', 'CA'): 1,
 ('pennsaulen', 'NJ'): 1,
 ('missioncanyon', 'CA'): 1,
 ('mountlaureltwpnj', 'NJ'): 1,
 ('philadelphila', 'PA'): 1,
 ('westmountholly', 'NJ'): 1,
 ('horseshoebend', 'ID'): 1,
 ('hilltop', 'NJ'): 1,
 ('smyrna', 'DE'): 1,
 ('elktownship', 'NJ'): 1,
 ('bethel', 'PA'): 1,
 ('glenoldan', 'PA'): 1,
 ('renonevada', 'NV'): 1,
 ('concordtownship', 'PA'): 1,
 ('mapleshadenj', 'NJ'): 1,
 ('hadtwp', 'NJ'): 1,
 ('westmonthaddontowsship', 'NJ'): 1,
 ('westfield', 'IN'): 1,
 ('rushland', 'PA'): 1,
 ('denver', 'CO'): 1,
 ('crosswicks', 'NJ'): 1,
 ('springhill', 'TN'): 1,
 ('oakford', 'PA'): 1,
 ('tampa', 'CA'): 1,
 ('pilgrimgardens', 'PA'): 1,
 ('trolleysquare', 'DE'): 1,
 ('northmarlton', 'NJ'): 1,
 ('betheltownship', 'PA'): 1,
 ('nashvilleap', 'TN'): 1,
 ('washingtontwp', 'NJ'): 1,
 ('woodbourne', 'PA'): 1,
 ('ruralhill', 'TN'): 1,
 ('warwick', 'PA'): 1,
 ('quinton', 'NJ'): 1,
 ('cerritos', 'CA'): 1,
 ('claerwater', 'FL'): 1,
 ('roseville', 'MI'): 1,
 ('feastville', 'PA'): 1,
 ('freehold', 'NJ'): 1,
 ('gentilly', 'LA'): 1,
 ('hamiltion', 'NJ'): 1,
 ('chestertownship', 'PA'): 1,
 ('fortville', 'IN'): 1,
 ('gardenville', 'PA'): 1,
 ('pleasanttownship', 'IN'): 1,
 ('gulphmills', 'PA'): 1,
 ('danboro', 'PA'): 1,
 ('forestgrove', 'PA'): 1,
 ('drexelhil', 'PA'): 1,
 ('hancock', 'IN'): 1,
 ('mountairy', 'PA'): 1,
 ('stroudsburg', 'PA'): 1,
 ('crystalbeach', 'FL'): 1,
 ('mississauga', 'LA'): 1,
 ('brentwoodcoolsprings', 'TN'): 1,
 ('kop', 'PA'): 1,
 ('uppermeriontownship', 'PA'): 1,
 ('washoe', 'NV'): 1,
 ('norritown', 'PA'): 1,
 ('peerlesspark', 'MO'): 1,
 ('bradentonbeach', 'FL'): 1,
 ('nredingtonbch', 'FL'): 1,
 ('roxana', 'IL'): 1,
 ('drexelheights', 'AZ'): 1,
 ('valencia', 'CA'): 1,
 ('neworlaens', 'LA'): 1,
 ('enorristown', 'PA'): 1,
 ('chicago', 'FL'): 1,
 ('mountlaurel', 'NV'): 1,
 ('shade', 'NJ'): 1,
 ('deptfordtwp', 'NJ'): 1,
 ('solebury', 'PA'): 1,
 ('belleairblufs', 'FL'): 1,
 ('realgoleta', 'CA'): 1,
 ('centersquare', 'PA'): 1,
 ('middlecitywest', 'PA'): 1,
 ('bucktown', 'LA'): 1,
 ('newtonsquare', 'PA'): 1,
 ('dunnellon', 'FL'): 1,
 ('westchesterpa', 'PA'): 1,
 ('chalemette', 'LA'): 1,
 ('tylersport', 'PA'): 1,
 ('evshmtwp', 'NJ'): 1,
 ('mccarran', 'NV'): 1,
 ('delrantwp', 'NJ'): 1,
 ('edgemoor', 'DE'): 1,
 ('glenmore', 'PA'): 1,
 ('feastervilletrev', 'PA'): 1,
 ('penllyn', 'PA'): 1,
 ('glenmills', 'DE'): 1,
 ('bridgeton', 'NJ'): 1,
 ('northmapleshade', 'NJ'): 1,
 ('honeybrook', 'PA'): 1,
 ('edgemont', 'PA'): 1,
 ('springfield', 'NJ'): 1,
 ('southharrisontownship', 'NJ'): 1,
 ('arden', 'DE'): 1,
 ('westbradfordtownship', 'PA'): 1,
 ('santabarbaraap', 'CA'): 1,
 ('buckinghamtownship', 'PA'): 1,
 ('fieldsboro', 'NJ'): 1,
 ('festerville', 'PA'): 1,
 ('falls', 'PA'): 1,
 ('havertownpa', 'PA'): 1,
 ('southhampton', 'PA'): 1,
 ('delaware', 'PA'): 1,
 ('zionsvillein', 'IN'): 1,
 ('northcoventrytownship', 'PA'): 1,
 ('centreville', 'DE'): 1,
 ('pineforge', 'PA'): 1,
 ('newportville', 'PA'): 1,
 ('newbritian', 'PA'): 1,
 ('huntingtonvalley', 'PA'): 1,
 ('bensalempa', 'PA'): 1,
 ('media', 'DE'): 1,
 ('southburlington', 'NJ'): 1,
 ('newtownsqaure', 'PA'): 1,
 ('bellefontaine', 'MO'): 1,
 ('westhampton', 'NJ'): 1,
 ('wberlin', 'NJ'): 1,
 ('fairland', 'IN'): 1,
 ('winterthur', 'DE'): 1,
 ('oldhickorytn', 'TN'): 1,
 ('ewingtwp', 'NJ'): 1,
 ('indiana', 'IN'): 1,
 ('gloucester', 'NJ'): 1,
 ('wilimington', 'DE'): 1,
 ('boutte', 'LA'): 1,
 ('madierabeach', 'FL'): 1,
 ('washington', 'NJ'): 1,
 ('lincoln', 'IL'): 1,
 ('philly', 'PA'): 1,
 ('southmadison', 'TN'): 1,
 ('stanton', 'DE'): 1,
 ('landsale', 'PA'): 1,
 ('fosterpond', 'IL'): 1,
 ('costamesa', 'CA'): 1,
 ('frederick', 'PA'): 1,
 ('wycombe', 'PA'): 1,
 ('wilmington', 'PA'): 1,
 ('westcollingswoodheights', 'NJ'): 1,
 ('tampafl', 'FL'): 1,
 ('barto', 'PA'): 1,
 ('nwales', 'PA'): 1,
 ('creamery', 'PA'): 1,
 ('saintboise', 'ID'): 1,
 ('sullivan', 'MO'): 1,
 ('glendale', 'NJ'): 1,
 ('westrockhill', 'PA'): 1,
 ('haverton', 'PA'): 1,
 ('londongrove', 'PA'): 1,
 ('inpolis', 'IN'): 1,
 ('clarksville', 'TN'): 1,
 ('delrantownship', 'NJ'): 1,
 ('hurffville', 'NJ'): 1,
 ('kirklyn', 'PA'): 1,
 ('clearwatercountryside', 'FL'): 1,
 ('southcherryhill', 'NJ'): 1,
 ('williamsport', 'PA'): 1,
 ('caln', 'PA'): 1,
 ('safetyhatbor', 'FL'): 1,
 ('westnashville', 'TN'): 1,
 ('hollywood', 'PA'): 1,
 ('hernandobch', 'FL'): 1,
 ('chattanooga', 'TN'): 1,
 ('rancocas', 'NJ'): 1,
 ('middletown', 'PA'): 1,
 ('philiadelphia', 'PA'): 1,
 ('newton', 'PA'): 1,
 ('claymont', 'PA'): 1,
 ('lowersouthampton', 'PA'): 1,
 ('monchanin', 'DE'): 1,
 ('plymouthmtng', 'PA'): 1,
 ('monroe', 'NJ'): 1,
 ('charlotte', 'PA'): 1,
 ('keylargo', 'FL'): 1,
 ('woodburyhts', 'NJ'): 1,
 ('uppermoreland', 'PA'): 1,
 ('aston', 'DE'): 1}

In [ ]:
cities, states = zip(*missing_counts.keys())

In [34]:
missing_counts_df = pd.DataFrame([(city, state, count) for (city, state), count in zip(missing_counts.keys(), missing_counts.values())])

In [11]:
print(f"Number of Tuples in Original: {df["tup"].shape[0]}")
print(f"Number of Unique Tuples in Original: {df["tup"].unique().shape[0]}")

print(f"Number of Tuples with place codes: {place_df.shape[0]}")
print(f"Number of Unique Tuples with Place Codes: {clean_df.shape[0]}")
print(f"{missing_locs.shape[0]} Missing Locations")

Number of Tuples in Original: 144767
Number of Unique Tuples in Original: 1176
Number of Tuples with place codes: 13957
Number of Unique Tuples with Place Codes: 1306
371 Missing Locations

In [36]:
missing_counts_df.to_csv("missing_counts.csv", index=False)